<div style="position: relative;">
  <section class="footer1 mb-0 mt-3" style="background-color: rgb(27, 27, 27);left: 0;width: 100%;margin: 0 auto;">
  <div class="footer-row">
    <div class="footer-col">
      <h4>Hotel Info</h4>
      <ul class="links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Customer Reviews</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Photo Gallery</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Accommodations</h4>
      <ul class="links">
        <li><a href="#">Room Types</a></li>
        <li><a href="#">Suites</a></li>
        <li><a href="#">Family Rooms</a></li>
        <li><a href="#">Special Offers</a></li>
        <li><a href="#">Loyalty Program</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Dining & Leisure</h4>
      <ul class="links">
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Bars & Lounges</a></li>
        <li><a href="#">Spa & Wellness</a></li>
        <li><a href="#">Events & Meetings</a></li>
        <li><a href="#">Local Attractions</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Legal</h4>
      <ul class="links">
        <li><a href="#">Booking Policy</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    
    <div class="footer-col">
      <h4>Newsletter</h4>
      <p>
        Subscribe for updates on exclusive offers, news, and more.
      </p>
      <form action="#">
        <input type="email" placeholder="Your email" required>
        <button type="submit">SUBSCRIBE</button>
      </form>
      <div class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>

</section>
<div class="row"  style=" background-color: rgb(0, 0, 0);">
  <div class="text-center p-4">
    <p class="text-reset ">&copy; 2024 Copyright : Yasindu Pathiraja</p>
  </div>

</div>
</div>

