<!-- <div class="container w-50 mt-4" style="height: 100vh;">
    <div id="carouselExampleAutoplaying" class="carousel slide" >
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/299989609.jpg?k=c36d140445b08b4c2cfad55b9d2d8544ebd0fba738382a052c1365a7488512ae&o=&hp=1" class="d-block w-100 h-50" alt="Bathroom view">
          </div>
          <div class="carousel-item">
            <img src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100 h-50" alt="Hotel exterior">
          </div>
          <div class="carousel-item">
            <img src="https://media.gettyimages.com/id/1198357641/photo/beachfront-bungalow-with-sea-view.jpg?s=1024x1024&w=gi&k=20&c=Y4bJzeHoj4tvm6ANGIOUuStky-FygbdxXl26X4-mxYk=" class="d-block w-100 h-50" alt="Swimming pool">
          </div>
          <div class="carousel-item">
            <img src="https://www.shutterstock.com/image-photo/breakfast-tropical-hotel-sea-view-600nw-2273872089.jpg" class="d-block w-100 h-50" alt="Swimming pool">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>   
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> -->


<div class="container w-50 mt-4 " style="min-width: 35vh; position: relative;">
  <div data-aos="zoom-in">
    
    <div style="margin: 0 auto;width: 50%;">
      <img style="border-radius: 50%;" src="https://png.pngtree.com/png-vector/20220915/ourmid/pngtree-opulent-hotel-branding-logo-in-luxurious-golden-hues-on-black-background-for-business-appeal-vector-png-image_33778604.jpg" alt="" srcset="">
    </div>
  </div>

  <br>
  <div data-aos="fade-down">
    
    <h1 class="p-3 mb-2"
      style="font-weight: bolder; background:linear-gradient(to top left,#091E3A,#2F80ED,#2D9EE0); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 6vh; text-align: center; text-shadow: 0px 0px 60px black;">
      Wellcome To Laxuary Grand Hotel
    </h1>
  </div>

  <br><br>
  <div id="carouselExampleInterval" style="box-shadow:  0px 0px 80px black;" class="carousel slide"
    data-bs-ride="carousel">

    <div class="carousel-indicators" style="z-index: 0;">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <img
          src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/299989609.jpg?k=c36d140445b08b4c2cfad55b9d2d8544ebd0fba738382a052c1365a7488512ae&o=&hp=1"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img
          src="https://images.pexels.com/photos/164595/pexels-photo-164595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img
          src="https://media.gettyimages.com/id/1198357641/photo/beachfront-bungalow-with-sea-view.jpg?s=1024x1024&w=gi&k=20&c=Y4bJzeHoj4tvm6ANGIOUuStky-FygbdxXl26X4-mxYk="
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="https://www.shutterstock.com/image-photo/breakfast-tropical-hotel-sea-view-600nw-2273872089.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" style="z-index: 0;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"  style="z-index: 0;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>